WebContent/wsdl/ProductsUtil.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://util" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://util" xmlns:intf="http://util" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://util" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="categories">
    <complexType/>
   </element>
   <element name="categoriesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="categoriesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertBoard">
    <complexType>
     <sequence>
      <element name="Name" type="xsd:string"/>
      <element name="Description" type="xsd:string"/>
      <element name="Categories" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertBoardResponse">
    <complexType>
     <sequence>
      <element name="insertBoardReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="categoriesResponse">

      <wsdl:part element="impl:categoriesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertBoardResponse">

      <wsdl:part element="impl:insertBoardResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertBoardRequest">

      <wsdl:part element="impl:insertBoard" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="categoriesRequest">

      <wsdl:part element="impl:categories" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ProductsUtil">

      <wsdl:operation name="categories">

         <wsdl:input message="impl:categoriesRequest" name="categoriesRequest">

       </wsdl:input>

         <wsdl:output message="impl:categoriesResponse" name="categoriesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertBoard">

         <wsdl:input message="impl:insertBoardRequest" name="insertBoardRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertBoardResponse" name="insertBoardResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProductsUtilSoapBinding" type="impl:ProductsUtil">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="categories">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="categoriesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="categoriesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertBoard">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertBoardRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertBoardResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProductsUtilService">

      <wsdl:port binding="impl:ProductsUtilSoapBinding" name="ProductsUtil">

         <wsdlsoap:address location="http://localhost:8080/AsifServer/services/ProductsUtil"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
